<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>레이아웃 구조</title>
    <link rel="stylesheet" href="css/layout.css">
    <link rel="stylesheet" href="css/mobile.css" media="screen and (max-width: 640px)">
</head>

<body>
    <div id="wrap">
        <header>
            <div class="inner">
                <h1>FOR TODAY</h1>
                <p class="sub-text hide">let's live today better than yesterday!!</p>
                <nav class="gnb-area">
                    <ul class="gnb">
                        <li><a href="#">menu01</a></li>
                        <li><a href="#">menu02</a></li>
                        <li><a href="#">menu03</a></li>
                        <li><a href="#">menu04</a></li>
                        <li class="hide"><a href="#">menu05</a></li>
                        <li class="hide"><a href="#">menu06</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <main>
            <div class="inner">
                <section>
                    <h2>Title #2</h2>
                    <p class="text">Ad fugiat aliqua sit consectetur deserunt labore nisi elit deserunt sint veniam id
                        in eu. Reprehenderit ut tempor duis aliquip laboris excepteur mollit sint id irure minim ea
                        aute. Do laborum Lorem esse aliquip eu excepteur anim. Voluptate consectetur voluptate laboris
                        sint Lorem.</p>
                    <p class="text hide"> Non do ex tempor qui aute sunt dolore irure. Sunt tempor consequat non et et
                        incididunt nisi
                        elit excepteur ea aute. Aliquip minim est duis labore amet laboris dolor consequat. Quis
                        cupidatat do qui sit sunt quis deserunt officia reprehenderit voluptate consequat.</p>
                    <img src="https://images.unsplash.com/photo-1444080748397-f442aa95c3e5?w=500&auto=format&fit=crop"
                        alt="">
                    <p class="text">Pariatur duis tempor ipsum non exercitation aute culpa do. Est ullamco exercitation
                        sunt do sit
                        laboris elit. Voluptate exercitation exercitation Lorem est enim voluptate. In laborum dolor
                        consequat veniam deserunt. Velit aute irure dolor velit nostrud duis culpa mollit est sunt
                        officia.</p>
                </section>
                <aside>
                    <img src="https://images.unsplash.com/photo-1504966981333-1ac8809be1ca?w=500&auto=format&fit=crop"
                        alt="">
                    <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae officia corporis
                        soluta repudiandae magnam, incidunt error ducimus eaque accusantium, fugiat rem nisi vitae eos
                        at quos mollitia quo temporibus. Autem.</p>
                    <div class="btn-area">
                        <button class="btn-book">BUY NOW</button>
                    </div>
                </aside>
            </div>
        </main>
        <footer>
            footer area
        </footer>
    </div>
</body>

</html>