@charset "utf-8"
@import url(fonts.css);
@import url(reset.css);

* {
    box-sizing: border-box;
}

body {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    color: rgba(0, 0, 0, 0.8);
    height: 2000px;
}

#wrap {
    max-width: 1440px;
    margin: 0 auto;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 80px;
    background: linear-gradient(to bottom, white, #cdcdcd);
    margin-bottom: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

header h1 {
    margin-bottom: 15px;
}

header .gnb {
    display: flex;
    justify-content: center;
    gap: 80px;
}

.card-list {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 200px;
}

.card-list li .pic {
    position: relative;
    height: 220px;
    overflow: hidden;
    margin-bottom: 20px;
}

.card-list li {
    position: relative;
    padding: 25px;
    border: 1px solid #cdcdcd;
    background: #fff;
    transition: all 0.3s;
    top: 0;
}

.card-list li img {
    width: 100%;
    transition: all 0.4s;
}

.card-list li .pic:hover img {
    transform: scale(1.4);
}

.card-list li .pic span {
    position: absolute;
    top: -100%;
    right: 0;
    padding: 4px 5px;
    background: darkred;
    color: #fff;
    font-size: 14px;
    transition: all 0.3s;
    width: 100%;
}

.card-list li:hover .pic span {
    top: 0;
}

.card-list li:hover {
    top: 30px;
}

.card-list .pic p {
    position: absolute;
    top: 50px;
    left: 0;
    font-size: 20px;
    color: #fff;
    padding: 5px;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    text-align: center;
}