@charset "utf-8";

header .gnb .depth1 .on {
    padding: 28px 15px;
    background: skyblue;
    color: aliceblue;
}

/* sub-visual */
#sub-visual {
    background: linear-gradient(135deg, #59CDE9 0%, #0A2A88 100%);
}

#sub-visual .visual-inner {
    display: flex;
    align-items: center;
    gap: 70px;
}

#sub-visual .visual-text {
    flex: 1;
}

#sub-visual .inner .visual-text .small-title {
    color: #fff;
}

#sub-visual .inner .visual-text .sub-title {
    font-size: 20px;
    line-height: 1.8;
    color: #ffffffd7;
    margin-bottom: 50px;
    width: 85%;
    word-break: keep-all;
}

.btn-area {
    display: flex;
    gap: 20px;
}

.btn-area .btn {
    display: inline-block;
    padding: 16px 30px;
    border-radius: 40px;
    font-weight: 700;
    transition: 0.3s;
    background: #fff;
}

.btn-area .btn-main {
    background: rgba(141, 208, 235, 0.678);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.btn-area .btn-sub {
    border: 1px solid skyblue;
    color: skyblue;

}

/* 버튼 사용성 */
.btn-main:hover,
.reserve-btn:hover {
    background: skyblue;
    transform: translateY(-8px);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.btn-sub:hover {
    background: skyblue;
    color: #fff;
    transform: translateY(-8px);
}

.visual-img {
    flex: 1;
    border-radius: 36px;
    overflow: hidden;
    animation: fadeup 1s ease forwards;
}

.visual-img img {
    height: 620px;
    object-fit: cover;
    transition: 0.7s;
}

/* 이미지 애니메이션 */
@keyframes fadeup {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.menu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.menu-list li {
    width: 33%;
    background: #dddaf08c;
    padding-bottom: 100px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    overflow: hidden;
}

.menu-list li:hover {
    transform: translateY(-20px);
    transition: 0.4s;
}

.menu-list li:hover img {
    transform: scale(1.1);
}


.menu-list .img-box img {
    overflow: hidden;
    height: 250px;
    border-radius: 20px 20px 0 0;
    transition: 0.3s ease;

}

.menu-list .text-box {
    position: relative;
    text-align: left center;
    padding: 0 30px;
    padding-top: 20px;
    transition: 0.3s;
}

.menu-list .text-box .text {
    font-size: 28px;
    color: skyblue;
    margin-bottom: 10px;
    position: relative;
}

.title-area {
    text-align: center;
    margin-bottom: 20px;
}

.title-area p {
    margin-top: -20px;
}

.btn-menu {
    position: absolute;
    top: 160%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    padding: 10px 20px;
    background: rgba(6, 53, 92, 0.616);
    opacity: 0;
    transition: 0.3s ease;
}

.menu-list li:hover .btn-menu {
    opacity: 1;
    top: 150%;

}

.menu-list ion-icon {
    font-size: 24px;
    color: rgb(16, 104, 139);
    vertical-align: -2px;
}

#recipe-point {
    background: rgba(238, 238, 178, 0.637);
}

#recipe-point .inner .info {
    display: flex;
    align-items: center;
    gap: 50px;
}

.info .img-box {
    width: 50%;
    height: auto;
    animation: img-box 3s infinite ease-in-out;


}

.info .img-box:hover img {
    transform: translateY(-20px);
    transition: 0.3;
}

.info .img-box img {
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    transition: 0.3s;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.info .text-group {
    width: 50%;
}

.info .text-group .text {
    font-size: 12px;
    margin-bottom: 18px;
    color: skyblue;
    letter-spacing: 5px;
}

.info .text-group h2 {
    font-size: 38px;
    font-weight: 300;
}

.text-group .point-list li {
    margin-bottom: 40px;
}

.text-group .point-list h3 {
    color: skyblue;
}

.text-group .point-list p {
    margin-top: -10px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.39);
    padding-bottom: 30px;
}


/* info */
#info .inner .text-group {
    text-align: center;
    margin-top: -80px;
}

#info .inner .text-group h3 {
    color: skyblue;
    font-size: 16px;
    font-weight: 700;
}

#info .inner .text-group p {
    font-size: 38px;
    color: black;
    font-weight: 800;
    margin-bottom: 40px;
}

#info .inner .info-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

#info .inner .info-list li {
    flex: 1;
    padding: 40px 20px;
    background: rgba(135, 207, 235, 0.664);
    text-align: center;
    border-radius: 20px;
}

#info .inner .info-list li p {
    font-size: 20px;
    color: #0A2A88;
    margin-bottom: 12px;
}

#info .inner .info-list li span {
    color: rgba(0, 0, 0, 0.596);
}

#info .inner .info-list li:hover {
    background: #fff;
    transform: translateY(-20px);
    transition: 0.4s;
}

#last-container {
    background: rgba(81, 84, 124, 0.062);
}

#last-container .inner .text-group {
    text-align: center;
}

#last-container .inner .text-group h2 {
    font-family: "Pretendard Variable", Pretendard, sans-serif;
}

#last-container .inner .text-group p {
    margin-top: -20px;
    margin-bottom: 50px;
}

#last-container .inner .text-group .btn {
    padding: 20px 35px;
    background: slateblue;
    border-radius: 40px;
    color: #fff;
    overflow: hidden;
}

#last-container .inner .text-group .btn:hover {
    background: #fff;
    color: slateblue;
    transition: 0.4s;
    font-size: 24px;
}

#last-container .inner .text-group .btn ion-icon {
    font-size: 30px;
    vertical-align: -9px;
}

@keyframes img-box {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0);
    }
}