@charset "utf-8";
@import url(reset.css);
@import url(fonts.css);

/* 고통 */
.inner {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;

}

section {
    padding: 125px 0;
}

.text {
    line-height: 1.5;
}

body {
    font-family: 'Cafe24Gowoonbam';
}

/* header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
}

header .inner {
    display: flex;
    align-items: center;
    height: 120px;
    padding: 30px;
}

header .logo {
    font-size: 26px;
    color: #fff;
    font-weight: normal;
}

header .gnb {
    display: flex;
    gap: 50px;
    margin-left: 100px;
}

header .gnb>li>a {
    display: block;
    padding: 10px;
    font-size: 20px;
    color: #fff;
}

/* 예약하기 버튼 */
.btn-reserve {
    width: 160px;
    height: 44px;
    background: #111;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    margin-left: auto;
    transition: 0.5s;
}

.btn-reserve:hover {
    background: blue;
}

/* main-slide */
.main-slide .swiper-slide {
    position: relative;
    height: 920px;
    width: 100%;

    /* flex는 부모가 자식의 위치를 지정 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-slide .swiper-slide .main-text {
    /* position은 스스로 위치를 지정 */
    position: absolute;
    /*  top: 50%;
    left: 50%;
    transform: translate(50%, -50%); */
    z-index: 2;
    /* z-index로 요소의 위아래 순서를 적용하기 위해서는 반드시 position이 선언되어 있어야함.*/
}

.swiper-slide .main-text .title {
    font-size: 60px;
    color: #fff;
}

.swiper-slide .main-text .sub-title {
    font-size: 24px;
    font-family: "Pretendard Variable", Pretendard;
    font-weight: 500;
    line-height: 1.6;
    color: #fff;
    text-align: center;
}

/* about 영역 */
#sec-about {
    position: relative;
    height: 860px;
}

#sec-about::before {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/플리-만들기2.png)no-repeat center/cover;
    content: '';
}

#sec-about::after {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: url(../img/플리-만들기03.png)no-repeat center/cover;
    content: '';
}

#sec-about .inner {
    display: flex;
    justify-content: end;
    height: 100%;

}

#sec-about .about-text {
    position: absolute;
    width: 50%;
    height: 100%;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;

}

.about-text>span {
    font-size: 25px;
    color: #786558;
    display: block;
    margin-bottom: 15px;
    font-family: "Pretendard Variable", Pretendard,
}


.about-text .title span {
    display: block;
    font-size: 48px;
    color: #b85c1b;
    margin-bottom: 10px;
}

.about-text .title span+span {
    margin-left: 55px;
}

/* 서비스영역 */
#sec-service {
    background: #f9eee9;
}

#sec-service h2 {
    position: relative;
    text-align: center;
    font-size: 44px;
    color: #201b17;
    margin-bottom: 100px;
}

#sec-service .sub-text {
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
}

#sec-service h2::after {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    height: 60px;
    background: #95887b;
    content: '';
}

#sec-service .sub-text {
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 60px;
}

.service-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

.service-list li {
    text-align: center;
}

.service-list li img {
    margin-bottom: 25px;
}

.service-list .service-text strong {
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: #201b17;
    margin-bottom: 15px;
}

.service-list .service-text p {
    font-size: 18px;
    color: #786558;
    line-height: 1.6;
    padding: 15px;
}

/* 리뷰 */
#sec-review h2 {
    margin-bottom: 40px;
    text-align: center;
    font-size: 34px;
}

#sec-review .sub-text {
    text-align: center;
    margin-bottom: 30px;
}

.review-list {
    display: flex;
    gap: 44px;
}

.review-list .pic {
    overflow: hidden;
    height: 450px;
    margin-bottom: 30px;
}

.review-list .pic img {
    transform: scale(1);
    transition: 0.3s;
    width: 100%;
    height: 300px;
}

.review-list li:hover .pic img {
    transform: scale(1.1);
}

.review-list .review-text .write {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
}