@charset "utf-8";
@import url(fonts.css);
@import url(reset.css);

#wrap {
    max-width: 1220px;
    margin: 30px auto;
}

h1 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
}

.tab-menu {
    display: flex;
    border-bottom: 1px solid #cdcdcd;
    margin-bottom: 50px;
}

.tab-menu a {
    display: block;
    padding: 15px 25px;
    font-size: 20px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.7);
}

.video {
    height: 64 0px;
}

.video iframe {
    width: 100%;
    height: 100%;
    border: 0;
}