@charset "utf-8"
@import url(fonts.css);
@import url(reset.css);

body {
    body {
        font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
        color: rgba(0, 0, 0, 0.8)
    }
}

.card-wrap {
    max-width: 1440px;
    margin: 50px auto;
}

.card-wrap ul {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.card-wrap ul>li>a {
    display: block;
    height: 400px;
    margin-bottom: 20px;
    overflow: hidden;
}

.card-wrap ul img {
    width: 100%;
    transition: 0.3s;
}

.card-wrap ul>li>a:hover img {
    transform: scale(1.2);
}

.card-wrap .text-group span {
    color: #3f0d1a;
    font-size: 14px;
    text-transform: uppercase;
    /* 영문 대문자로 */
    letter-spacing: 1px;
    /* 글자 좌우 간격 */
    display: block;
    margin-bottom: 15px;

}

.card-wrap .text-group .title {
    font-size: 18px;
    color: #fd6562;
    font-weight: 600;
    margin-bottom: 10px;
}

.card-wrap .text-group .desc {
    margin-bottom: 25px;
}

.card-wrap .text-group .price {
    font-weight: 500;
    font-size: 18px;
    color: #3f0d3a;
}

.card-wrap .text-group .desc {
    line-height: 1.5;

    display: -webkit-box;
    /* webkit 기반의 박스 레이아웃 -여러줄 제한이 가능한 박스로 설정하는 속성- */
    -webkit-line-clamp: 2;
    /* 보여줄 라인 수 */
    -webkit-box-orient: vertical;

    overflow: hidden;
}