@charset "utf-8";

html,
head,
body,
ol,
ul,
li,
p,
div,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
table,
tr,
td,
th,
tbody,
thead,
tfoot,
caption,
header,
nav,
section,
article,
aside,
figure,
figcaption,
footer,
address {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

address,
em,
i {
    font-style: normal;
}

table {
    border-collapse: collapse;
    /* td 간의 간격을 없앰 */
}

/* 텍스트 블라인드 */
.blind {
    font-size: 0;
    line-height: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}