@charset "utf-8";
@import url(fonts.css);
@import url(reset.css);

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
}

.inner {
    position: relative;
    width: min(1360px, 94%);
    margin: 0 auto;
}

section {
    padding-block: 13rem;
    /* 130px 0 */
}

figure img {
    width: 100%;
    object-fit: cover;
}

section h2 {
    font-weight: 700;
    font-size: clamp(2.2rem, 3.4vw, 4.2rem);
    color: #111;
    margin-bottom: min(2rem, 4rem);
}

.text {
    line-height: 1.5;
    word-break: keep-all;
    letter-spacing: -1px;
}

/* header */
#header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5
}

/* header-top */
.header-top,
.header-bot {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.header-top .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-top .head-site {
    position: relative;
    display: flex;
}

.header-top .head-site ul {
    display: flex;
    margin-right: 25px;
}

.header-top .head-site ul a {
    display: block;
    padding: 1.25rem;
    font-size: 14px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.85)
}

.header-top .head-site .on a {
    font-weight: 600;
    color: #fff;
}

.header-top .head-site ul:first-child {
    position: relative;
}

.header-top .head-site ul:first-child::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -14px;
    width: 1px;
    height: 14px;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.4);
}

.header-top .user-action>ul {
    display: flex;
    justify-content: space-between;
    column-gap: 15px;
}

.header-top .user-action>ul>li {
    position: relative;
}

.header-top .user-action>ul>li>a {
    display: block;
    padding: 1.25rem 1.5rem;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.85);
}

.header-top .user-action .lang {
    position: relative;
}

.header-top .user-action .sub-lang {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 115%;
    padding: 12px;
    background: #fff;
    border-radius: 10px;
    text-align: center;
    font-size: 14px;
    line-height: 1.8;
    color: rgba(0, 0, 0, 0.7);
    display: none;
    z-index: 10;
}

.user-action .lang:hover .sub-lang {
    display: block;
}

.user-action .lang:hover .sub-lang a:hover {
    color: #111;
}

.header-top .user-action li:first-child::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -8px;
    width: 1px;
    height: 14px;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.4);
}

.header-bot .inner {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

.header-bot .inner .left-area {
    display: flex;
    align-items: center;
    gap: 100px;
}

.header-bot .inner .logo {
    /*   background: url(../img/logo-w.png) no-repeat; */
    width: 100px;
    height: 80px;
}

.header-bot .inner .left-area .gnb {
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    gap: 100px;


}

.header-bot .inner .user-action {
    display: flex;
    align-self: center;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    border-radius: 20px;
    border: 1px solid #fff;
    padding: 8px 20px;
    margin-right: 20px;

}

/* main-visual */
#main-visual {
    position: relative;
}

#main-visual .swiper-slide {
    height: clamp(420px, 80vh, 960px);
    /* 모바일 420px < 디바이스가 높이가 800px인경우 800*0.8=640px   */
    background: no-repeat center/cover;
}

#main-visual .swiper-slide.slide01 {
    background-image: url(../img/main_bg01.jpg);
}

#main-visual .swiper-slide.slide02 {
    background-image: url(../img/main_bg02.jpg);
}

#main-visual .swiper-slide.slide03 {
    background-image: url(../img/main_bg03.jpg);
}

.swiper-slide .inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.swiper-slide .title {
    font-size: clamp(2.2rem, 3.5vw, 4.4rem);
    color: #fff;
    font-weight: 600;
    margin-bottom: 25px;
}

.swiper-slide .text {
    font-size: 1.8rem;
    color: #fff;
}

/* swiper-next/prev 화살표 위치 */
.swiper.main-slider .swiper-button-next,
.swiper.main-slider .swiper-button-prev {
    color: #fff;
    margin-left: auto;
    margin-top: 0;
    left: 10%;
    z-index: 20;
    width: 22px;
    /* 원래 화살표의 초기크기는 64px */
}

.swiper.main-slider .swiper-button-next {
    left: auto;
    right: 10%;
}

.swiper.main-slider .swiper-button-prev::before,
.swiper.main-slider .swiper-button-next::before {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 80px;
    height: 80px;
    content: '';
    z-index: -1;
}

#main-visual>.hours-group {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    width: 60%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hours-group .hours {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    /* 셀 정가운데 */
    width: 75%;
    height: 80px;
    background: #fff;
    text-align: center;
}

.hours-group .hours img {
    vertical-align: middle;
    margin-right: 10px;
}

.hours-group .hours span+span {
    font-size: 20px;
    font-weight: 500;
    color: #111;
    margin-left: 10px;
}

.hours-group .btn-area {
    height: 80px;
    width: 25%;
    background: #005e3c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hours-group .btn-area img {
    vertical-align: middle;
    margin-right: 10px;
    width: 24px
}

.hours-group .btn-area button {
    background: none;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    border: none;
}

#sec-exhibition .inner {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    height: 100%;
}

#sec-exhibition .inner .left {
    width: 25%;
    height: 100%;
}

#sec-exhibition .inner .left img {
    width: 100%;
    height: 100%;
}

#sec-exhibition .inner .left .title-area {
    position: relative;
    border-bottom: 2px solid #000;
    margin-bottom: 30px;
    width: 100%;
}

#sec-exhibition .inner .left .title-area h2 {
    font-size: 32px;
    font-weight: 700;
}


#sec-exhibition .inner .left .title-area span {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);

}

#sec-exhibition .inner .left .title-area span img {
    width: 35px;
    height: 35px;
    font-weight: 800;
}

#sec-exhibition .inner .right {
    width: 70%;
    height: 100%;
}

#sec-exhibition .inner .right .title-area h2 {
    font-size: 32px;
    font-weight: 700;
}

#sec-exhibition .inner .right .title-area {
    position: relative;
    border-bottom: 2px solid #000;
    margin-bottom: 30px;
    width: 100%;
}

#sec-exhibition .inner .right .title-area span {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);

}

#sec-exhibition .inner .right .title-area span img {
    width: 35px;
    height: 35px;
    font-weight: 800;
}

#sec-exhibition .inner .right .top-box {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
    border-bottom: 2px solid rgba(128, 128, 128, 0.473);
}

#sec-exhibition .right .text-box {
    padding-top: 20px;
}

#sec-exhibition .right .text-box h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 12px;
}

#sec-exhibition .right .text-box .main-text {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 12px;
}

#sec-exhibition .right .text-box .sub-text {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 25px;
    color: #666666;
}

#sec-exhibition .right .text-box span {
    position: relative;
    font-size: 14px;
    font-weight: 700;
}

#sec-exhibition .right .text-box span img {
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
}

#sec-exhibition .inner .right .top-box .main-img {
    width: 32%;
    height: 32%;
    margin-bottom: 30px;
}

#sec-exhibition .inner .right .bottom-box {
    display: flex;
    gap: 30px;
    border-bottom: 2px solid rgba(128, 128, 128, 0.521);
}

#sec-exhibition .inner .right .bottom-box .main-img {
    width: 32%;
    height: 32%;
    margin-bottom: 30px;
}

#sec-exhibition .swiper-pagination {
    font-size: 14px;
}

#sec-exhibition .swiper-button-next,
#sec-exhibition .swiper-button-prev {
    position: absolute;
    top: auto;
    bottom: 10px;
    /* top: auto는 초기에 선언된 값이 top인 경우 리셋하는 값을 auto */
}

#sec-exhibition .swiper-button-prev {
    left: 42%;
    right: auto
}

#sec-exhibition .swiper-button-next {
    left: auto;
    right: 42%
}

#sec-exhibition .exhi-slider .swiper-button-prev {
    left: 30%;
    right: auto
}

#sec-exhibition .exhi-slider .swiper-button-next {
    left: auto;
    right: 30%
}

#sec-exhibition .swiper-button-next,
#sec-exhibition .swiper-button-prev {
    width: 50px;
    height: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#sec-exhibition .swiper-button-prev {
    background-image: url(../img/ico_arrow_right.svg);
}

#sec-exhibition .swiper-button-next {
    background-image: url(../img/ico_arrow_next.svg);
}

/* 교육체험 영역 */
#sec-educate {
    background: url(../img/edu_bg.jpg)no-repeat center/cover;
}

#sec-educate h2 {
    text-align: center;
    font-weight: 800;
    font-size: 40px;
}

#sec-educate .tab-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}

#sec-educate .tab-menu a {
    font-weight: 600;
    padding: 10px;
    font-size: 18px;
}

#sec-educate .tab-menu .on a {
    color: #005e3c;
}

.edu-slider .swiper-slide {
    flex: 1;
}

.edu-slider .swiper-slide .pic {
    margin-bottom: 13px;
    height: 400px;
}

.edu-slider .swiper-slide img {
    width: 100%;
    height: 100%;
}

.edu-slider .swiper-slide .edu01 {
    display: inline-block;
    color: #fff;
    background: #1cb2a9;
    padding: 5px 10px;
    font-size: 14px;
    margin-bottom: 10px;
}

.edu-slider .swiper-slide .edu02 {
    display: inline-block;
    color: #fff;
    background: #358cdc;
    padding: 5px 10px;
    font-size: 14px;
    margin-bottom: 10px;
}

.edu-slider .swiper-slide h3 {
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 7px;
}

.edu-slider .swiper-slide .date {
    font-size: 16px;
}

.tab-contents .btn-area {
    display: flex;
    justify-content: center;
}

.tab-contents .btn-area .btn-all {
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    padding: 15px 60px;
    background: none;
    border: 1px solid #999;
}

.edu-slide-group {
    margin-bottom: 50px;
}

/* 제로월드 */

#sec-new-world {
    background: url(../img/zeroworld_bg.jpg)no-repeat center/cover;
}

#sec-new-world .inner {
    width: 60%;
}

#sec-new-world .new-slide {
    margin-bottom: 40px;

}

#sec-new-world .text-box {
    text-align: center;
    margin-bottom: 70px;
}

#sec-new-world .text-box h2 {
    font-size: 48px;
}

#sec-new-world .text-box .sub-title {
    font-size: 20px;
    color: #666666;
    font-weight: 700;
}

#sec-new-world .swiper-wrapper {
    margin-bottom: 50px;
}

#sec-new-world .swiper-slide {
    display: flex;
    max-width: 1150px;
    height: 470px;
    background: #fff;
    gap: 60px;

}

#sec-new-world .pic {
    position: relative;
    width: 42%;
    background: #005e3c;
}

#sec-new-world .pic img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 360px;
    width: 240px;
}

#sec-new-world .text-area {
    width: 58%;
    text-align: center left;
    padding: 70px 20px;
}

#sec-new-world .text-area h3 {
    font-size: 36px;
    color: #000;
    font-weight: 700;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

#sec-new-world .text-area .text {
    font-size: 16px;
    font-weight: 500;
    color: #666666;
    margin-bottom: 45px;
}


#sec-new-world .info {
    display: flex;
    gap: 50px;
    margin-bottom: 50px;
}

#sec-new-world .course,
#sec-new-world .time {
    display: flex;
    align-items: center;
    gap: 8px;
}

#sec-new-world .info .img-box {
    width: 40px;
    height: 40px;
    padding: 10px;
    background: #f7f7f7;
    border-radius: 50%;

}

#sec-new-world .info img {
    width: 20px;
    height: 20px;
}

#sec-new-world .info .title {
    margin: auto 0;
    font-size: 18px;
    color: #000;
}

#sec-new-world .btn-area {
    display: inline-block;
    background: #005e3c;
    color: #fff;
    padding: 15px 50px;
    font-weight: 700;
}

#sec-new-world .btn-box {
    display: flex;
    justify-self: center;
    border: 1px solid black;
    padding: 12px 58px;
    background: none;
    font-weight: 900;
}

/* swiper-next/prev 화살표 위치 */
/* 제로월드 화살표 */
#sec-new-world .new-slide {
    position: relative;
    overflow: hidden;
}

#sec-new-world .swiper-button-prev,
#sec-new-world .swiper-button-next {
    width: 60px;
    height: 60px;
    background: rgba(0, 0, 0, .45);
    color: #fff;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sec-new-world .swiper-button-prev {
    left: -105px;
}

#sec-new-world .swiper-button-next {
    right: -105px;
}

#sec-new-world .swiper-button-prev::after,
#sec-new-world .swiper-button-next::after {
    font-size: 10px !important;
    font-weight: bold;
}

.new-area .swiper-pagination {
    bottom: 10px;
}

.new-area .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    margin: 0 5px !important;
    background-color: #bbb;
    opacity: 1;
}

/* 활성화된 페이지네이션 */
.new-area .swiper-pagination-bullet-active {
    width: 25px;
    border-radius: 20px;
    background: #111;
}

#sec-event-area {
    height: 400px;
    background: #fff;
}

#sec-event-area .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

#sec-event-area .event-box01 {
    position: relative;
    width: 50%;
    height: 280px;
    background: url(../img/quick_01.png)no-repeat center/cover;
}

#sec-event-area .event-box02 {
    position: relative;
    width: 50%;
    height: 280px;
    background: url(../img/quick_02.png)no-repeat center/cover;
}

#sec-event-area .text-box01 {
    position: absolute;
    bottom: 15%;
    left: 5%;
    color: #fff;
}

#sec-event-area .text-box02 {
    position: absolute;
    bottom: 15%;
    left: 5%;
    color: #fff;
}

#sec-event-area .text-box01 .text {
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 8px;
}

#sec-event-area .text-box01 .sub-text {
    font-size: 18px;
    font-weight: 400;
}

#sec-event-area .text-box02 .text {
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 8px;
}

#sec-event-area .text-box02 .sub-text {
    font-size: 18px;
    font-weight: 400;
}


/* 링크영역 */
#sec-link-area .inner {
    display: flex;
    width: 100%;
}

#sec-link-area .link-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* 아이콘과 화살표를 양 끝으로 배치 */
    flex: 1;
    /* 박스 2개가 50%씩 균등하게 너비 차지 */
    height: 100px;
    padding: 0 50px;
    /* 여기서 양옆 모서리 끝까지의 간격을 결정 */
    box-sizing: border-box;
    /* 패딩이 전체 너비에 포함되도록 설정 */
}

#sec-link-area .link-box1 {
    background: #005e3c;
}

#sec-link-area .link-box2 {
    background: #013a25;
}

/* 왼쪽 아이콘 + 텍스트 그룹 */
#sec-link-area .content {
    display: flex;
    align-items: center;
    gap: 15px;
}

#sec-link-area .left-content {
    margin-left: 220px;
}

/* 스타일 세부 설정 */
#sec-link-area .pic {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

#sec-link-area .text {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}

#sec-link-area .link-box2 .right-arrow {
    margin-right: 220px;
}

#sec-link-area .right-arrow img {
    width: 30px;
    height: 30px;
}

#sec-link-area .pic img {
    width: 22px;
    height: 22px;
}


/* footer */
footer .inner {
    padding-block: clamp(3rem, 5.5vw, 6rem);
}

footer .foot-area {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

footer .foot-left .f-logo {
    display: block;
    margin-bottom: 7rem;
}

.foot-left dl {
    margin-bottom: 3rem;
}

.foot-left dl dt {
    color: #000;
    font-weight: 600;
    margin-bottom: 2rem;
}

.foot-left dl dd p {
    margin-bottom: 0.5rem;
    font-size: 1.4rem;
    font-weight: 300;
}

.foot-left .copy {
    font-size: 1.4rem;
    font-weight: 300;
}

footer .foot-right {
    text-align: right;
}

.foot-right .foot-nav {
    display: flex;
    margin-bottom: 4rem;
}

.foot-right .foot-nav li {
    margin-left: 2rem;
}

.foot-right .foot-nav li a {
    display: block;
    font-size: 1.5rem;
}

.foot-right .foot-nav .point {
    color: #7a46be;
    font-weight: 500;
}

.foot-right .sns {
    margin-bottom: 5rem;
}

.foot-right .sns a {
    display: inline-block;
    margin-left: 15px;
}

.foot-right dl {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-left: 25%;
}

.foot-right dl div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.foot-right dl img {
    width: 50px
}

.foot-right dl dd {
    text-align: left;
    font-size: 1.2rem;
    font-weight: 300;
}