@charset "utf-8";
@import url(reset.css);
@import url(fonts.css);

body {
    font-family: 'Aritaburi';
}

/* 공통 요소 */
section {
    height: 100vh;
}

section .inner {
    max-width: 1366px;
    margin: 0 auto;
}

section .main-title {
    position: relative;
    font-size: 44px;
    margin-bottom: 100px;
}

section .main-title::after {
    width: 1px;
    height: 50px;
    background: #fff;
    position: absolute;
    bottom: -70px;
    left: 50%;
    content: '';
}

section .text {
    font-family: "Pretendard Variable", Pretendard, sans-serif;
    line-height: 1.6;
    font-size: 18px;
    margin-bottom: 60px;
}

section h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    /* 대문자로 변환 */
    margin-bottom: 20px;
}

.btn {
    position: relative;
    display: block;
    width: 180px;
    height: 50px;
    margin: auto;
    /* width값 있으면 마진오토로 중앙배치 */
    border: 1px solid #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
}

/* header */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 a {
    display: block;
    width: 180px;
    height: 50px;
    background: url(../img/logo_white.svg) no-repeat center/contain;
}

nav {
    display: flex;
    align-items: center;
    gap: 30px;
}

nav>a {
    color: #fff;
    font-size: 18px;
    font-family: "Pretendard Variable", Pretendard, sans-serif;
}

nav>a+a {
    font-size: 32px;
    line-height: 0;
}

/* main-visual */
#main-visual {
    height: 100vh;
    background: url(../img/bg_brand.jpg) no-repeat center/cover;
    margin-bottom: 70px;

    display: flex;
    justify-content: center;
    align-items: center;
    /* 부모의 height값이 있어야 자식요소가 높이기준 가운데 정렬이 됨 */
}

#main-visual .main-title {
    width: 40%;
    color: #fff;
    text-align: center;
    margin: 0 auto;
}

.main-title span {
    font-family: "Pretendard Variable", Pretendard, sans-serif;
    display: block;
}

.main-title>span {
    font-size: 20px;
    margin-bottom: 15px;
}

.main-title .title {
    position: relative;
    font-size: 44px;
    font-weight: bold;
    margin-bottom: 100px;
}

.main-title .title::before {
    width: 1px;
    height: 50px;
    background: #fff;
    position: absolute;
    bottom: -70px;
    left: 50%;
    content: '';
}

.main-title .text>span {
    font-size: 20px;
    margin-bottom: 10px;
}

#main-visual .main-title::after {
    display: none;
}

.main-title .btn.btnGoBrand::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #fff;
    content: '';
}

.main-title .btn.btnGoBrand:hover::before {
    width: 100%;
    transition: 0.5s;
}

.main-title .btn.btnGoBrand span {
    position: relative;
    z-index: 2;
    color: white;
    font-weight: 400;
}

.main-title .btn.btnGoBrand span:hover {
    color: black;
    font-weight: 500;
}

#menu-story {
    text-align: center;
}

.story-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.story-list li a {
    width: 400px;
    height: 500px;
    position: relative;
}

.story-list .card-1 {
    display: block;
    background: url(../img/img_stroy1.jpg)no-repeat center/cover;
    text-align: start;

}

.story-list .card-2 {
    display: block;
    background: url(../img/img_stroy2.jpg)no-repeat center/cover;
    text-align: start;

}

.story-list .card-3 {
    display: block;
    background: url(../img/img_stroy3.jpg)no-repeat center/cover;

}

.inner .title {
    font-family: "Pretendard Variable", Pretendard, sans-serif;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 2px;
}

.story-list li {
    color: #fff;
    font-size: 22px;
}

.story-list .card-1 p {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.story-list .card-2 p {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.story-list .card-3 p {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.story-list .card-1:hover p {
    position: absolute;
    bottom: 60px;
    left: 20px;
    transition: 0.3s;

}

.story-list .card-2:hover p {
    position: absolute;
    bottom: 60px;
    left: 20px;
    transition: 0.3s;
}

.story-list .card-3:hover p {
    position: absolute;
    bottom: 60px;
    left: 20px;
    transition: 0.3s;
}

#day {
    background: #f0dfc3 url(../img/img_5h.jpg) no-repeat left center / 50%;
}

#day .inner {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
}

#day .day-text::after {
    background: #000;
}

.main-title .btn.btnGoBrand::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #fff;
    content: '';
}

.main-title .btn.btnGoBrand:hover::before {
    width: 100%;
    transition: 0.5s;
}

.main-title .btn.btnGoBrand span {
    position: relative;
    z-index: 2;
    color: white;
    font-weight: 400;
}

.main-title .btn.btnGoBrand span:hover {
    color: black;
    font-weight: 500;
}

/* //withyou  */
#withyou {
    background: url(../img/bg_store.png), url(../img/bg_store2.png0);
    background: no-repeat;
    background-position: left -100px top, left 70% center;
}

#withyou .inner {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* 영역이오른쪽으로 오도록 */
    text-align: center;
}

#withyou .main-title::after {
    background: #000;
}

#withyou .with-text .text span {
    display: block;
    font-size: 20px;
    margin-bottom: 5px;
}

#withyou .with-text .btn.btnstore {
    position: relative;
    border-color: #111;
}

#withyou .with-text .btn.btnstore::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #000000;
    content: '';
    transition: 0.3s;
}

#withyou .wit-text .btn.btnstore:hover {
    color: #fff
}

#withyou .with-text .btn.btnstore:hover::before {
    width: 100%;
}

#withyou .with-text .btn.btnstore span {
    position: relative;
    z-index: 2;
}