@charset "utf-8";
@import url(reset.css);
@import url(fonts.css);

body {
    font-family: 'Aritaburi';
}

/* main-visual */
#main-visual {
    height: 100vh;
    background: url(../img/bg_brand.jpg) no-repeat center/cover;

    display: flex;
    justify-content: center;
    align-items: center;
    /* 부모의 height값이 있어야 자식요소가 높이기준 가운데 정렬이 됨 */
}

header {
    position: relative;
}

header h1 span {
    background: url(../img/logo_white.svg);

}

header nav {
    position: fixed;
    top: 30px;
    right: 30px;
    color: white;
    gap: 20px;
}

#main-visual .main-title {
    width: 40%;
    color: #fff;
    text-align: center;
}

.main-title span {
    font-family: "Pretendard Variable", Pretendard, sans-serif;
    display: block;
}

#wrap header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-title>span {
    display: block;
    font-weight: 200;
}

.main-title .title {
    font-size: 32px;
    margin-bottom: 100px;
    margin-top: 30px;
    position: relative;


}

.main-title .title::before {
    display: inline-block;
    content: '';
    width: 1px;
    height: 55px;
    background: #fff;
    position: absolute;
    top: 85px;
    left: 50%;
    transform: translate(-50%, -50%);

}

.main-title .text {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 15px;
    font-weight: 600;
}

.btn-btngobrand {
    border: 1px solid gray;
}